.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-11-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-11-inside {
  padding-right: 0px;
}

.panels-flexible-11 {
  width: auto;
}

.panels-flexible-region-11-left_column_ {
  position: relative;
  float: left;
  background-color: transparent;
  width: 892px;
}

.panels-flexible-row-11-5-inside {
  padding-left: 892px;
  margin-left: -892px;
  padding-right: 0px;
}

* html .panels-flexible-row-11-5-inside {
  left: 892px;
}

.panels-flexible-region-11-left {
  position: relative;
  float: left;
  background-color: transparent;
  width: 700px;
}

.panels-flexible-region-11-content_right {
  position: relative;
  float: left;
  background-color: transparent;
  width: 192px;
}

.panels-flexible-row-11-main-row-inside {
  padding-left: 892px;
  margin-left: -892px;
  padding-right: 0px;
}

* html .panels-flexible-row-11-main-row-inside {
  left: 892px;
}

.panels-flexible-region-11-left_column {
  position: relative;
  float: left;
  background-color: transparent;
  width: 620.5px;
}

.panels-flexible-region-11-left_content {
  position: relative;
  float: left;
  background-color: transparent;
  width: 272px;
}

.panels-flexible-row-11-2-inside {
  padding-left: 892.5px;
  margin-left: -892.5px;
  padding-right: 0px;
}

* html .panels-flexible-row-11-2-inside {
  left: 892.5px;
}

.panels-flexible-region-11-footer {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-11-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-11-new_bottom {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-11-4-inside {
  padding-right: 0px;
}

