.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-41-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-41-inside {
  padding-right: 0px;
}

.panels-flexible-41 {
  width: auto;
}

.panels-flexible-region-41-left_column {
  position: relative;
  float: left;
  background-color: transparent;
  width: 182px;
}

.panels-flexible-region-41-right_column {
  position: relative;
  float: left;
  background-color: transparent;
  width: 700px;
}

.panels-flexible-row-41-1-inside {
  padding-left: 882px;
  margin-left: -882px;
  padding-right: 0px;
}

* html .panels-flexible-row-41-1-inside {
  left: 882px;
}

.panels-flexible-region-41-leftmost {
  float: left;
  width: 25.3058%;
}

.panels-flexible-region-41-centermost {
  float: left;
  width: 73.6942%;
}

.panels-flexible-row-41-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-41-footer {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-41-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-41-footer2 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-41-4-inside {
  padding-right: 0px;
}

