.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-6-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-6-inside {
  padding-right: 0px;
}

.panels-flexible-6 {
  width: auto;
}

.panels-flexible-region-6-left_column_ {
  position: relative;
  float: left;
  background-color: transparent;
  width: 197px;
}

.panels-flexible-region-6-right_column {
  position: relative;
  float: left;
  background-color: transparent;
  width: 700px;
}

.panels-flexible-row-6-5-inside {
  padding-left: 897px;
  margin-left: -897px;
  padding-right: 0px;
}

* html .panels-flexible-row-6-5-inside {
  left: 897px;
}

.panels-flexible-region-6-left {
  position: relative;
  float: left;
  background-color: transparent;
  width: 193px;
}

.panels-flexible-region-6-content_right {
  position: relative;
  float: left;
  background-color: transparent;
  width: 700px;
}

.panels-flexible-row-6-main-row-inside {
  padding-left: 893px;
  margin-left: -893px;
  padding-right: 0px;
}

* html .panels-flexible-row-6-main-row-inside {
  left: 893px;
}

.panels-flexible-region-6-left_column {
  position: relative;
  float: left;
  background-color: transparent;
  width: 193.5px;
}

.panels-flexible-region-6-left_content {
  position: relative;
  float: left;
  background-color: transparent;
  width: 480px;
}

.panels-flexible-region-6-right_content_ {
  position: relative;
  float: left;
  background-color: transparent;
  width: 220px;
}

.panels-flexible-row-6-2-inside {
  padding-left: 893.5px;
  margin-left: -893.5px;
  padding-right: 0px;
}

* html .panels-flexible-row-6-2-inside {
  left: 893.5px;
}

.panels-flexible-region-6-footer {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-new_bottom {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-4-inside {
  padding-right: 0px;
}

