.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-9-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-9-inside {
  padding-right: 0px;
}

.panels-flexible-9 {
  width: auto;
}

.panels-flexible-region-9-right_column {
  float: left;
  width: 700px;
}

.panels-flexible-region-9-title_column {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-9-1-middle {
  margin-right: 700px;
}

.panels-flexible-row-9-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-9-left_column {
  position: relative;
  float: left;
  background-color: transparent;
  width: 220px;
}

.panels-flexible-region-9-center {
  position: relative;
  float: left;
  background-color: transparent;
  width: 540px;
}

.panels-flexible-region-9-right_rail {
  position: relative;
  float: left;
  background-color: transparent;
  width: 140px;
}

.panels-flexible-row-9-main-row-inside {
  padding-left: 900px;
  margin-left: -900px;
  padding-right: 0px;
}

* html .panels-flexible-row-9-main-row-inside {
  left: 900px;
}

.panels-flexible-region-9-bottom_content {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-9-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-9-footer {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-9-3-inside {
  padding-right: 0px;
}

