.menu-629, ul.links li.menu-629 {
  background-image: url(http://localhost:8888/naturebridge/public_html/sites/default/files/menu_icons/menu_icon_629.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

