#content-inner {margin-left:-20px;}
#armstrong_block {float:left;width:615px;margin:5px 0 30px -17px;}
#armstrong_left_side {float:left;width:265px;}
#armstrong_donate {width:265px;}
#armstrong_headline {font-size:16px;color:#1A6328;padding:15px 20px;}
#armstrong_stretch {width:20px;background:url(images/expand_slice_bg.png) repeat-x;height:189px;float:left;}
#armstrong_kanteen {background:url(sites/default/files/national/NB_spring-appeals-block_2a.png) no-repeat;width:329px;float:left;height:189px;}
#armstrong_kanteen_text {font-size:12px;color:#333333;padding:130px 20px 0 50px;}

#ap_wrapper { width:949px; }
#ap_title { height:40px; font-size:20px; color:#007239; }
#ap_section1 { height:200px; }
#ap_image { width:570px; float:left; }
#ap_blurb { width:379px; height:200px; float:right; background:#F5F1E9 url(images/ap_quotemarks.png) no-repeat 15px 25px; }
#ap_blurb_text { color:#544935; font-size:14px; padding:30px 20px 0 50px; line-height:18px; }
#ap_blurb_author { font-weight:bold; color:#534834; font-size:12px; padding:10px 25px 0 0; text-align:right; }
#ap_quote { width:940px; height:24px; background: url(images/ap_quote_bg.png) repeat-x; margin:20px 0; }
#ap_quote_text { background:none repeat scroll 0 0 #FFFFFF; color:#6CA738; font-size:96%; font-style:italic; line-height:21px; margin:0 auto; padding-left:5px; padding-right:5px; text-align:center; width:92%; }
#ap_section2 { overflow: hidden; }
#ap_section2_left { float:left; width:519px; }
#ap_details { font-size:15px; color:#333333; padding:0 25px 0 0; }
#ap_details_headline { font-size:16px; color:#007239; }
#ap_canteen { height:175px; }
#ap_cant_left { float:left; width:62px; }
#ap_cant_middle { float:left; width:407px; }
#ap_cant_text { height:34px; font-size:12px; color:#333333; padding:20px 10px 10px; }
#ap_cant_green { color:#6CA538; font-size:16px; background:#EAF2E2; height:81px; padding:20px 5px 10px 10px; }
#ap_cant_green_text { width:317px; float:left; line-height:20px; font-style: italic; }
#ap_cant_green img { float:right; margin-top:-5px; }
#ap_cant_right { float:left; }
#ap_video { width:430px; float:right; }