/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
    
    text-decoration: none;

}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 3px 0 0 10px;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 0 0 0; /* LTR */

}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
    position:relative;
    top:-50px;
    right:-270px;
    width: 670px;
}

/*
 *Main Menu styling with horizontal images...
 */

/*National Parks Menu*/
ul.nice-menu li.menu-629,
ul.nice-menu li.menu-629 a:link,
ul.nice-menu li.menu-629 a:visited {
    background-image: url(../images/yosemiteoffwordsnew.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 221px;
    top: -10px
}

ul.nice-menu li.menu-629 a {
    padding: 55px 0 0 120px;
    color: #fff;
}

ul.nice-menu li.menu-629 a:hover,
ul.nice-menu li.menu-629 a:active {
    background-image: url(../images/yosemiteonwordsnew.png);
}

.menu-path-templateba-6 {
    position: relative;
    right: 444px;
    top: 2px;
}

ul.nice-menu li.menu-631,
ul.nice-menu li.menu-631 a:link,
ul.nice-menu li.menu-631 a:visited {
    background-image: url(../images/goldengateoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 112px;
    top: -10px;
}

ul.nice-menu li.menu-631 a {
    padding: 55px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-631 a:hover,
ul.nice-menu li.menu-631 a:active {
    background-image: url(../images/goldengateon.png);
}

.menu-path-templateba-7 {
    position: relative;
    right: 332px;
    top: -76px;
}

ul.nice-menu li.menu-632,
ul.nice-menu li.menu-632 a:link,
ul.nice-menu li.menu-632 a:visited {
    background-image: url(../images/olympicoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 112px;
    top: -10px;
}

ul.nice-menu li.menu-632 a {
    padding: 55px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-632 a:hover,
ul.nice-menu li.menu-632 a:active {
    background-image: url(../images/olympicon.png);
}

.menu-path-templateba-8 {
    position: relative;
    right: 221px;
    top: -154px;
}

ul.nice-menu li.menu-633,
ul.nice-menu li.menu-633 a:link,
ul.nice-menu li.menu-633 a:visited {
    background-image: url(../images/santamonicaoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
     height: 78px;
    width: 112px;
    top: -10px;
}

ul.nice-menu li.menu-633 a {
    padding: 40px 0 0 10px;
    color: #fff
}

ul.nice-menu li.menu-633 a:hover,
ul.nice-menu li.menu-633 a:active {
    background-image: url(../images/santamonicaon.png);
}

.menu-path-templateba-9 {
    position: relative;
    right: 111px;
    top: -232px;
}

ul.nice-menu li.menu-634,
ul.nice-menu li.menu-634 a:link,
ul.nice-menu li.menu-634 a:visited {
    background-image: url(../images/channeloff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    height: 78px;
    width: 112px;
    top: -10px;
}

ul.nice-menu li.menu-634 a {
    padding: 55px 0 0 10px;
    color: #fff
}

ul.nice-menu li.menu-634 a:hover,
ul.nice-menu li.menu-634 a:active {
    background-image: url(../images/channelon.png);
}

.menu-path-templateba-10 {
    position: relative;
    right: 0px;
    top: -310px;
}

/* For placeholder text "Choose a location:"
ul.nice-menu li.menu-684,
ul.nice-menu li.menu-684 a:link,
ul.nice-menu li.menu-684 a:visited {
    height: 78px;
    width: 110px;
}

ul.nice-menu li.menu-684 a {
    padding: 55px 0 0 10px;
    color: #fff
}

ul.nice-menu li.menu-634 a:hover,
ul.nice-menu li.menu-634 a:active {
}

.menu-path-templateba-11 {
    position: relative;
    right: -109px;
    top: -310px;
}*/

/* School & Group Field Science Menu */

ul.nice-menu li.menu-653,
ul.nice-menu li.menu-653 a:link,
ul.nice-menu li.menu-653 a:visited {
    background-image: url(../images/yosemiteoffwordsnew.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 222px;
    top: -10px;
}

ul.nice-menu li.menu-653 a {
    padding: 55px 0 0 120px;
    color: #fff;
}

ul.nice-menu li.menu-653 a:hover,
ul.nice-menu li.menu-653 a:active {
    background-image: url(../images/yosemiteonwordsnew.png);
}

.menu-path-templatecayosemite-27 {
    position: relative;
    right: 111px;
    top: 2px;
}

ul.nice-menu li.menu-654,
ul.nice-menu li.menu-654 a:link,
ul.nice-menu li.menu-654 a:visited {
    background-image: url(../images/goldengateoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 112px;
    top: -88px;
}

ul.nice-menu li.menu-654 a {
    padding: 55px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-654 a:hover,
ul.nice-menu li.menu-654 a:active {
    background-image: url(../images/goldengateon.png);
}

.menu-path-templatecagolden-28 {
    position: relative;
    right: 0px;
    top: -76px;
}

ul.nice-menu li.menu-655,
ul.nice-menu li.menu-655 a:link,
ul.nice-menu li.menu-655 a:visited {
    background-image: url(../images/olympicoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 112px;
    top: -166px;
}

ul.nice-menu li.menu-655 a {
    padding: 55px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-655 a:hover,
ul.nice-menu li.menu-655 a:active {
    background-image: url(../images/olympicon.png);
}

.menu-path-templatecaolympic-29 {
    position: relative;
    right: -111px;
    top: -154px;
}

ul.nice-menu li.menu-656,
ul.nice-menu li.menu-656 a:link,
ul.nice-menu li.menu-656 a:visited {
    background-image: url(../images/santamonicaoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    height: 78px;
    width: 112px;
    top: -244px;
}

ul.nice-menu li.menu-656 a {
    padding: 40px 0 0 10px;
    color: #fff
}

ul.nice-menu li.menu-656 a:hover,
ul.nice-menu li.menu-656 a:active {
    background-image: url(../images/santamonicaon.png);
}

.menu-path-templatecasantamonica-30 {
    position: relative;
    right: -221px;
    top: -232px;
}

ul.nice-menu li.menu-657,
ul.nice-menu li.menu-657 a:link,
ul.nice-menu li.menu-657 a:visited {
    background-image: url(../images/channeloff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    height: 78px;
    width: 112px;
    top: -322px;
}

ul.nice-menu li.menu-657 a {
    padding: 55px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-657 a:hover,
ul.nice-menu li.menu-657 a:active {
    background-image: url(../images/channelon.png);
}

.menu-path-templatecachannel-31 {
    position: relative;
    right: -330px;
    top: -310px;
}

/* For placeholder text "Choose a location:"
 ul.nice-menu li.menu-684,
 ul.nice-menu li.menu-684 a:link,
 ul.nice-menu li.menu-684 a:visited {
 height: 78px;
 width: 110px;
 }
 
 ul.nice-menu li.menu-684 a {
 padding: 55px 0 0 10px;
 color: #fff
 }
 
 ul.nice-menu li.menu-634 a:hover,
 ul.nice-menu li.menu-634 a:active {
 }
 
 .menu-path-templateba-11 {
 position: relative;
 right: -109px;
 top: -310px;
 }*/


/*About Us Sub-Menu theming*/

ul.nice-menu li.menu-627,
ul.nice-menu li.menu-627 a:link,
ul.nice-menu li.menu-627 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    float: left;
    height: 30px;
    width: 141px;
    top: -10px;
}

ul.nice-menu li.menu-627 a {
    padding: 14px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-627 a:hover,
ul.nice-menu li.menu-627 a:active {
    color: #007239 !important;
}

.menu-path-templateaboutus-4 {
    position: relative;
    left: 0px;
    top: 17px;
}

ul.nice-menu li.menu-628,
ul.nice-menu li.menu-628 a:link,
ul.nice-menu li.menu-628 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    float: left:
    height: 16px;
    width: 141px;
    top: -10px;
}

ul.nice-menu li.menu-628 a {
    padding: 2px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-628 a:hover,
ul.nice-menu li.menu-628 a:active {
    color: #007239 !important;
}

.menu-path-templateaboutus-3 {
    position: relative;
    left: -164px;
    top: 17px;
}

ul.nice-menu li.menu-658,
ul.nice-menu li.menu-658 a:link,
ul.nice-menu li.menu-658 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    float: left;
    height: 31px;
    width: 141px;
    top: -10px;
}

ul.nice-menu li.menu-658 a {
    padding: 3px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-658 a:hover,
ul.nice-menu li.menu-658 a:active {
    color: #007239 !important;
}

.menu-path-templateaboutus-33 {
    position: relative;
    left: 0px;
    top: 16px;
}

ul.nice-menu li.menu-659,
ul.nice-menu li.menu-659 a:link,
ul.nice-menu li.menu-659 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    float: left;
    height: 30px;
    width: 142px;
    top: -10px;
}

ul.nice-menu li.menu-659 a {
    padding: 15px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-659 a:hover,
ul.nice-menu li.menu-659 a:active {
    color: #007239 !important;
}

.menu-path-templateaboutus-34 {
    position: relative;
    left: 139px;
    top: -61px;
}

ul.nice-menu li.menu-660,
ul.nice-menu li.menu-660 a:link,
ul.nice-menu li.menu-660 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    float: left;
    height: 17px;
    width: 305px;
    top: -10px;
}

ul.nice-menu li.menu-660 a {
    padding: 3px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-660 a:hover,
ul.nice-menu li.menu-660 a:active {
    color: #007239 !important;
}

.menu-path-templateaboutus-35 {
    position: relative;
    left: 139px;
    top: -61px;
}

ul.nice-menu li.menu-661,
ul.nice-menu li.menu-661 a:link,
ul.nice-menu li.menu-661 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    float: left;
    height: 32px;
    width: 305px;
    top: -10px;
}

ul.nice-menu li.menu-661 a {
    padding: 4px 0 0 9px;
    color: #fff;
}

ul.nice-menu li.menu-661 a:hover,
ul.nice-menu li.menu-661 a:active {
    color: #007239 !important;
}

.menu-path-templateaboutus-36 {
    position: relative;
    left: 139px;
    top: -63px;
}

ul.nice-menu li.menu-662,
ul.nice-menu li.menu-662 a:link,
ul.nice-menu li.menu-662 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    float: left;
    height: 31px;
    width: 163px;
    top: -10px;
}

ul.nice-menu li.menu-662 a {
    padding: 15px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-662 a:hover,
ul.nice-menu li.menu-662 a:active {
    color: #007239 !important;
}

.menu-path-templateaboutus-37 {
    position: relative;
    left: 281px;
    top: -140px;
}
/* end */

/*Training and Tools Menu */

ul.nice-menu li.menu-680,
ul.nice-menu li.menu-680 a:link,
ul.nice-menu li.menu-680 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    height: 31px;
    width: 222px;
    top: -10px;
}

ul.nice-menu li.menu-680 a {
    padding: 15px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-680 a:hover,
ul.nice-menu li.menu-680 a:active {
    color: #007239 !important;
}

.menu-path-templatebalt-43 {
    position: relative;
    right: 0px;
    top: 2px;
}

ul.nice-menu li.menu-685,
ul.nice-menu li.menu-685 a:link,
ul.nice-menu li.menu-685 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    height: 47px;
    width: 222px;
    top: -10px;
}

ul.nice-menu li.menu-685 a {
    padding: 2px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-685 a:hover,
ul.nice-menu li.menu-685 a:active {
    color: #007239 !important;
}

.menu-path-templatebalt-44 {
    position: relative;
    right: 0px;
    top: 2px;
}
/*end*/

/* Family and Youth Programs Menu */

ul.nice-menu li.menu-686,
ul.nice-menu li.menu-686 a:link,
ul.nice-menu li.menu-686 a:visited {
    background-image: url(../images/yosemiteoffwordsnew.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 221px;
    top: -10px;
}

ul.nice-menu li.menu-686 a {
    padding: 55px 0 0 120px;
    color: #fff;
}

ul.nice-menu li.menu-686 a:hover,
ul.nice-menu li.menu-686 a:active {
    background-image: url(../images/yosemiteonwordsnew.png);
}

.menu-686 {
    right: 330px;
}

.menu-687 {
    right: 220px;
    top: -78px;
}

.menu-688 {
    left: 110px;
    top: -156px;
}

.menu-path-templateb-39 {
    position: relative;
    right: 334px;
    top: 2px;
}

ul.nice-menu li.menu-687,
ul.nice-menu li.menu-687 a:link,
ul.nice-menu li.menu-687 a:visited {
    background-image: url(../images/goldengateoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 112px;
    top: -10px;
}

ul.nice-menu li.menu-687 a {
    padding: 55px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-687 a:hover,
ul.nice-menu li.menu-687 a:active {
    background-image: url(../images/goldengateon.png);
}

.menu-path-templateb-40 {
    position: relative;
    right: 222px;
    top: -76px;
}

ul.nice-menu li.menu-688,
ul.nice-menu li.menu-688 a:link,
ul.nice-menu li.menu-688 a:visited {
    background-image: url(../images/olympicoff.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    /*padding: 20px 0 0 10px;*/
    height: 78px;
    width: 333px;
    top: -10px;
}

ul.nice-menu li.menu-688 a {
    padding: 55px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-688 a:hover,
ul.nice-menu li.menu-688 a:active {
    background-image: url(../images/olympicon.png);
}

.menu-path-templateb-41 {
    position: relative;
    right: -110px;
    top: -154px;
}

/*end*/

/* News and comm menus */

ul.nice-menu li.menu-674,
ul.nice-menu li.menu-674 a:link,
ul.nice-menu li.menu-674 a:visited {
    height: 31px;
    width: 110px;
    top: -10px;
}

ul.nice-menu li.menu-674 a {
    padding: 15px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-674 a:hover,
ul.nice-menu li.menu-674 a:active {
    color: #007239 !important;
}

.menu-path-newscomm-47 {
    position: relative;
    right: 0px;
    top: 0px;
}

ul.nice-menu li.menu-675,
ul.nice-menu li.menu-675 a:link,
ul.nice-menu li.menu-675 a:visited {
    height: 17px;
    width: 110px;
    top: -10px;
}

ul.nice-menu li.menu-675 a {
    padding: 2px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-675 a:hover,
ul.nice-menu li.menu-675 a:active {
    color: #007239 !important;
}

.menu-path-newscomm-48 {
    position: relative;
    right: 0px;
    top: 0px;
}

ul.nice-menu li.menu-676,
ul.nice-menu li.menu-676 a:link,
ul.nice-menu li.menu-676 a:visited {
    /*background-image: url(../images/yosemiteoffwords.png);
     background-repeat: no-repeat;
     background-position: 5px 5px;
     /*padding: 20px 0 0 10px;*/
    height: 30px;
    width: 110px;
    top: -10px;
}

ul.nice-menu li.menu-676 a {
    padding: 3px 0 0 10px;
    color: #fff;
}

ul.nice-menu li.menu-676 a:hover,
ul.nice-menu li.menu-676 a:active {
    color: #007239 !important;
}

.menu-path-newscomm-49 {
    position: relative;
    right: 0px;
    top: 0px;
}

/* end */

.menu-613 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-227 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-597 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;}

.menu-669 a,
.menu-599 a,
.menu-598 a,
.menu-597 a,
.menu-227 a,
.menu-613 a {
    height: 42px;
}

.menu-598 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-599 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-669 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
    border-right: 1px solid #d5d3ce;
}

.menu-615 {
    position:relative;
    top:19px;
    right:1px;
    background: url(../images/topbackground.png)
    z-index: 9;
}

.menu-614 {
    position:relative;
    top:19px;
    right:1px;
}

.menu-616 {
    position:relative;
    top:19px;
    right:1px;
}

.menu-617 {
    position:relative;
    top:-50px;
    right:-143px;
    
}

.menu-617 {
    position:relative;
    top:-50px;
    right:-143px;
}

.menu-556 {
    width: 110px;
    height: 23px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;}

}

.menu-618 {
    width: 110px;
    height: 23px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;

}

#block-nice-menus-2 {

    height: 23px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
   /* z-index: 10 !important;*/
    position: absolute;
    z-index: 19;
    top: 50px;
    right: 0px;
}

#block-nice-menus-1 a:hover {
    color: #fff;
    z-index: 20;
}

#block-nice-menus-1 {
    position: absolute;
    z-index: 20;
    top: 0px;
    right: 0px;
}

.menu-624 {
    width: 110px;
    height: 23px;
    position: absolute;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    border-left: 1px solid #d5d3ce;
}

.menu-625 {
    width: 110px;
    position: absolute;
    color: #fff;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    background: url(../images/donorbutton.png);    
}

.menu-625 a {
    color: #fff !important;
}

.menu-626 {
    position:relative;
    top:19px;
    right:1px;
}

/* Sub Menu for NewsComm */

.menu-673 {
    width: 110px;
    height: 40px;
    font-size: 1.2em;
    /*font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;*/
    color: #fff;
    border-right: 1px solid #746d5d;
    border-left: 1px solid #746d5d;
}

.menu-673 a {
    color: #fff !important;
    padding: 12px 0 0 35px !important;
    height: 28px;
}

.menu-671 {
    width: 130px;
    height: 40px;
    font-size: 1.2em;
    /*font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;*/
    color: #fff;
    border-left: 1px solid #746d5d;
}

.menu-671 a {
    color: #fff !important;
    padding: 12px 0 0 19px !important;
    height: 28px;
}

.menu-672 {
    width: 110px;
    height: 40px;
    font-size: 1.2em;
    /*font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;*/
    color: #fff;
    border-left: 1px solid #746d5d;
}

.menu-672 a {
    color: #fff !important;
    padding: 12px 0 0 35px !important;
    height: 28px;
}

.menu-670 {
    width: 110px;
    height: 40px;
    font-size: 1.2em;
    /*font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;*/
    color: #fff;
    border-left: 1px solid #746d5d;
}

.menu-670 a {
    color: #fff !important;
    padding: 12px 0 0 45px !important;
    height: 28px;
}

#nice-menu-3 {
    float: left;
    background-color: #aca79e;
    position: relative;
    height: 40px;
    top: 0px;
    left: 30px;
    color: #fff;
}

#nice-menu-3 a:hover{
     background-color: #6da838 !important;
}



#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
