/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
    
    text-decoration: none;

}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 3px 0 0 10px;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 0 0 0; /* LTR */

}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
    position:relative;
    top:-50px;
    right:-270px;
    width: 670px;
}

.menu-536 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-227 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-597 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;}

.menu-598 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-599 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
}

.menu-600 {
    width: 110px;
    height: 42px;
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
    color: #007239;
    border-left: 1px solid #d5d3ce;
    border-right: 1px solid #d5d3ce;
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
